@font-face {
  font-family: 'WebHostingHub-Glyphs';
  src: url('WebHostingHub-Glyphs.svg') format('svg');
  src: url('WebHostingHub-Glyphs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.flat-color-icons{
  font-family: 'WebHostingHub-Glyphs';
  font-weight: normal;
  font-style: normal;
  font-size: inherit; 
  display: inline-block;
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}